* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* размеры ширины и высоты включают в себя padding */
}
body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 60%;
    margin: auto;
}
header {
    height: 700px;
    background-color: #eeeff1;
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    margin-bottom: 140px;
  }
  .header-menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #34547a;
  }
  .header-menu a {
    margin-left: 40px;
  }
  .intro {
    display: flex;
    align-items: center;
  }
  h1 {
    font-weight: 500;
    font-size: 48px;
  }
  .intro-text {
    color: #727272;
    margin: 60px 0 60px;
    font-weight: 400;
    font: 16px;
  }
  .intro-wapper {
    display: block;
    align-items: center;
    margin-left: 130px;
  }
  .intro-button {
    display: block;
  
    padding: 20px 45px;
    background-color: #34547a;
    color: white;
    border: none;
    outline: none;
    text-transform: uppercase;
  }
  

  .about_me {
width: 100%;
height: 300px;
  }
  .text {
width: 100%;
height: 147px;
padding: 30px;

  }
  .h3 {
    
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }
  .p {
    width: 50%;
    margin: 50px auto 60px;
    color: #727272;
    text-align: center;
  }
.numbers {
width: 100%;
height: 250px;
left: 0px;
top: 1059px;
background: #34547A;

}
.number-item {
width: 100%;
height: 50px;
left: 405px;
top: 1159px;
}
.number-position {
    padding: 50px;
    text-align: center;
   
   
}
/* мои навыки */
.skills {
    padding: 100px 0;
}
.skills-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-info {
    width: 40%;
}
.skills-title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}
.skill-scale:not(:last-child) {
    margin-bottom: 30px;
}
.skill-name {
    color: #727272;
    margin-bottom: 20px;
}
.skill-scale-outer {
    height: 4px;
    background-color: #C4C4C4;
}
.skill-scale-inner {
    width: 70%;
    height: 100%;
    background-color: #34547A;
}
.skills-img {
    display: block; /* картинка - не блочный элемент */
    width: 50%;
}
/*Как я работаю*/
.process {
    padding: 100px 0;
    background-color: #EEEFF1;
}
.process-title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
.process-descr {
    width: 50%;
    margin: 50px auto 60px;
    color: #727272;
    text-align: center;

}
.process-video {
 width: 100%;
   aspect-ratio: 16/9; 
     
}
/*проекти*/
.projects {
    display: flex;
    flex-wrap: wrap;
}
.projects-item {
    width: 25%;
    aspect-ratio: 1/1;
 background-size: cover;
}
.sticker {
    background-image:url(./img/stiker.png);
}
.laptop {
    background-image:url(./img/Laptop.png);
}
.projects-item-inner {
    height: 100%;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-item-inner:hover {
    opacity: 1;
}
.clients {
    
    display: flex;
    justify-content: center;   
 padding: 50px;
}
 .img {
     
     width: 1110px;
     height: 120px;
     left: 405px;
     top: 4026px;
     
 }
.form {
 background-color: #EEEFF1;
 padding: 100px 0;   
}
.form-wrapper {
    width: 30%;
    margin: auto;
}
.form-title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
.form-descr {
    color: #727272;
    margin: 50px 0 65px;
    text-align: center;
    line-height: 26px;
}
.form-control {
    display: flex;
    justify-content: space-between;
}
input[name="name"], input[name=email] {
width: 45%;
padding: 20px;
border: none;
outline: none;
}
textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    margin: 20px 0 50px;
    font-family: 'Roboto', sans-serif;
    
}
input[type="submit"] {
    display: block;
    margin: auto;
    padding: 20px 45px;
    background-color: #34547A;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
}
footer {
 width: 1920px;
height: 151px;
left: 0px;
top: 5008px;
background: #34547A;
}
footer {
    width: 100%;
    margin: auto;
    color: white;
    background-color: #34547A;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.vk {
    margin-right: 20px;
}







/* 
border: 1px solid black.
border: толщина стиль цвет;
*/